<div class="login">
        <div class="logo">
                <a href="javascript:;" class="">
                    <!-- <img src="/assets/images/logo.jpg" class="img-circle" style="width:256px;height:101px"  alt=""> -->
                 </a>
            </div>

            <div class="content" >
                    <!-- BEGIN LOGIN FORM -->
                    <form class="login-form" [formGroup]="loginAttribute" method="post" novalidate="novalidate">
                        <h3 class="form-title font-green">Token Paste Here</h3>
                         
                        <div class="form-group">
                              <input  class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"  formControlName="_token" placeholder="Paste token here">
                         </div>
                         <div  class="form-actions">
                                <input  class="btn green uppercase" name="SignIn" (click)="verify_token()" value="Verify" type="submit" [disabled]="loginAttribute.get('_token').invalid">
                                <button class="btn blue pull-right" (click)="nextpage()">Login</button>
                            </div>
                        
                    </form>
                    <!-- END LOGIN FORM -->

                    
                  
                </div>


                <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
            
</div>