.table_style
{
    /* position: relative;
    top: 100px; */
}
.box_style
{
	margin: 20px;
    
}
.btn_time
{
   /* // position:absolute; right:-17em; */
}
.btn_style
{
    background: rebeccapurple;
}
