<div class="row">
    <div class="col-md-12">
      <hr>
      <div class="row">
        <div class="col-md-11 col-8 offset-1">
          <h2 class="StmentNew">Add New Subject</h2>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-3">
   
        <div class="form-group">
          <label>Enter the Subject Name</label>
        </div>
        <div class="form-group">
          <input type="number" #noOfDays class="form-control input_search" formControlName="subjectName" name="subjectName" required>
        </div>
       <div class="form-group">
         <button class="btn btn-primary" (click)="Daysfield(noOfDays.value)">No Of Days</button>
       </div>
    <form>
      <div *ngFor="let no of no ">
        {{no}}
        <!-- <div class="form-group">
            <input type="number" #noOfDays class="form-control input_search"  name="subjectName" required>
          </div> -->
        </div>
    </form>
    </div>
  </div>
  