<div class="row">
    <div class="col-md-12">
      <hr>
      <h3>Programes Info</h3>
      <hr>
    </div>
    <div class="col-md-3 col-8 insertNewSubject">
      <div class="row btn btn-primary" (click)="InsertNewProgramme()">
        <div class="col-md-4">
          <img src="../assets/images/newTeacher.jpg" class="img-responsive">
        </div>
        <div class="col-md-8">
          <p>New Programme Add</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table tableSetting">
        <thead>
          <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <td>1</td>
            <td>Anna</td>
            <td>Password Here</td>
            <td><button class="btn btn-primary">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Debbie</td>
            <td>Password Here</td>
            <td><button class="btn btn-primary">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
          </tr>
          <tr>
            <td>3</td>
            <td>John</td>
            <td>Password Here</td>
            <td><button class="btn btn-primary">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>